/* *{
  border: 1px solid gold;
} */
body{
  background-color: red;
  text-align: center;
  font-family: 'VT323', monospace;

}
h1{
  font-size: 80px;
  margin: 0;
}
.container{
  border: 1px solid black;
  text-align: right;
  margin: 20px;
  background-color: rgb(160,202,174);
}
.nav{
  display: flex;
  justify-content: center;
}
.top-container{
  display: flex;
  justify-content: space-between;
}
.pokemon-info{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sprite{
  display: none;
  background-size: contain;
  margin: 20px;
  height: 175px;
  width: 175px;
}
.stats{
  text-align: center;
  font-size: 36px;
}
.evolutions{
  text-align: center;
  font-size: 36px;
}
#name{
  font-size: 60px;
}
#id{
  font-size: 30px;
}
.type{
  padding: 0 12px;
  margin: 2px 2px;
  border: 2px solid black;
  border-radius: 25px;
  text-transform:uppercase;
  color: white;
}
#type{
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}
#stats{
  display: flex;
  justify-content: space-around;
}
#stat-column1{
  text-align: left;
}
#stat-column2{
  text-align: left;
}
